@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --main-color: #2a2a2a;
  --secondary-color: #333;
  --main-transition: 0.3s;
  --main-line-height: 1.6;
  --main-padding: 60px;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

header .logo span {
  color: rgba(186, 186, 186, 0.707);
}

.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #002c40;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text p span {
  background-color: white;
  color: black;
}

.text h1 span {
  background-color: white;
  color: black;
}

.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}

.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}


.btn{
  display: block;
  color: black;
  margin-top: 2rem;
  padding: 10px 15px;
  background-color: white;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  transition: var(--main-transition);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  text-align: center;
  text-decoration: none;
}
.btn:hover{
  text-align: center;
  color: white;
  border: 1px solid var(--main-color);
  background-color: black;
}


.about{
  background-color: whitesmoke;
  position: relative;
  padding-top: calc(var(--main-padding) * 2);
  padding-bottom: var(--main-padding);
}
.about .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .container .image{
  flex-basis: 48%;
}
.about .container .image img{
  margin-top: 35px;
  max-width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 35px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.about .container .abouttext{
  flex-basis: 48%;
}
.about .container .abouttext span{
  background-color: black;
  color: white;
}
.about .container .abouttext h3{
  margin-bottom: 1rem;
  color: var(--main-color);
}
.about .container .abouttext h2{
  margin-bottom: 1rem;
  font-weight: 700;
}

@media (max-width: 991px) {
  .about .container{
      flex-direction: column;
  }
}

@media (max-width: 991px) {
  .about {
    text-align: center;
  
  }
  
}



@media (max-width: 400px) {
  .text h2 {
    margin-top: 6rem;
  }

}

@media (max-width: 401px) {
  #explorer {
    margin-top: 1rem;
    margin-bottom: 6rem;
  }
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

.reviews{
  background-color: whitesmoke;
  position: relative;
  padding-top: calc(var(--main-padding) * 2);
  padding-bottom: var(--main-padding);
  text-align: center;
}
.reviews .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews .container .image{
  flex-basis: 48%;
}
.reviews .container .image img{
  margin-top: 35px;
  max-width: 90%;
  background: rgba(18, 18, 18, 0.95);
  padding: 2rem;
  clip-path: polygon(5% 0%,100% 0px, 100% 0px, 100% 95%, 95% 100%, 0px 100%, 0px 100%, 0% 5%);
}

.reviews .container .abouttext{
  flex-basis: 48%;
}
.reviews .container .abouttext span{
  background-color: black;
  color: white;
}
.reviews .container .abouttext h3{
  margin-bottom: 1rem;
  color: var(--main-color);
}
.reviews .container .abouttext h2{
  margin-bottom: 1rem;
  font-weight: 700;
}

@media (max-width: 991px) {
  .reviews .container{
      flex-direction: column;
  }
}

@media (max-width: 991px) {
  .reviews {
    text-align: center;
  
  }
  
}

#reviews span {
  background-color: black;
  color: white;
  padding: 1rem;
}